/* .model{
    background-image:url("../image/Untitled\ design\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size:100% 200px ;
} */

.map{
    background-color: rgb(232, 84, 84);
    width: 35px;
    height: 30px;
    border: 2px solid red;
    
    cursor: pointer;
}
.map-sc{
    height: 200px;
    background-color: rgb(163, 170, 176);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border: 2px solid rgb(9, 9, 9); */
}
.map-fr{
    margin: 15px;
    border-radius: 15px;
    height: 8vh;
}
BsArrowLeftRight{
    border-radius: 50%;
}